
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family:Italian-Regular;
    src: url("fonts/Italiana-Regular.ttf");
}
@font-face{
    font-family:Instrument-Sans;
    src:url("fonts/InstrumentSans-Regular.ttf")
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #454545; 
  color: #fff;
  padding: 10px 20px;
}
.logo {
  position: relative;
  font-size: 53px;
  text-align: left;
  display: inline-block;
  padding-bottom: 10px; 
}

.nav-menu {
  display: flex;
  gap: 30px;
}

.nav-menu a,
.signup a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family:Instrument-Sans;
  transition: color 0.3s;
}

.nav-menu a:hover,
.signup a:hover {
  color: #000000; /* optional hover color */
}
.logo::before
{
  content: "";
  position: absolute;
  left: 0px;
  height: 2px;
  background-color: white;
  padding-left: 100px;
}
.logo::after{
  content: "";
  position: absolute;
  left:10px;
  height: 2px;
  background-color: white;
  padding-left: 100px;
}


.logo::before {
  bottom: 10px;
  width: 50%;
}

.logo::after {
  bottom: 5px;
  width: 60%;
}